/* styles/fonts.css */
/* Import font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@500;700;900&family=Roboto:wght@900&display=swap');

@font-face {
  font-family: 'Gradient';
  src: url('/fonts/Gradient.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/NeueHelveticaBQBlack.ttf') format('truetype');
}
.home {
    margin: 0 3rem;

    width: 100%;
    
  }
  
  .home_container {
    display:grid;
    grid-template-columns: 850px 150px;
    position: relative;
  }
  
  .home_text {
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    margin-top:13rem;
    font-weight: 900;
    font-size: 8rem;
    line-height: 7rem;
    width:850px;
  }
  .home_h1{
    font-size: 6rem;
  }
 .home_h1_3{
  font-size: 10rem;
 }
 .home__description{
  width: 150px;
 }
 .home_description_best{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: 600;
 }

 .home_container::before{
  position: absolute;
  content: "";
  z-index: 1;
  right:150px;
  bottom: 300px;
  width:250px;
  height:250px;
  border-radius: 50%;
  filter: blur(60px);
  background: rgb(200,189,209);

 }



 @media screen and (max-width: 320px)  {
    .home{
      margin: 0 1rem;
    }
    .home_container{
    grid-template-columns:100px 160px ;
  }
    .home_text{
      line-height: 2.5rem;
      margin-top: 20rem;
      width:100px;
    }

    .home_description{
      width:10px;
    }
    .home_h1{
      font-size: 2rem;
    }
    
    .home_h1_2{
      font-size: 2.5rem;
    }
    
    .home_h1_3{
      font-size:3.5rem;
    }
    
    .home_description_best{
      margin-top: 5rem;
      font-size: 1rem;
      justify-content: flex-start;
      flex-direction: column;
      align-items: normal;


    }
    .home__designer{
      margin:0;
    }
 }

 @media screen and (min-width: 320px)  {
    .home{
      margin: 0 1rem;
    }
    .home_container{
      grid-template-columns:200px 160px ;
    }
    .home_text{
      line-height: 4rem;
      margin-top: 25rem;
      width:250px;
    }

    .home_description{
      width:50px;
    }
    .home_h1{
      font-size: 3.5rem;
    }
    
    .home_h1_2{
      font-size: 4.5rem;
    }
    
    .home_h1_3{
      font-size:5.5rem;
    }
    
    .home_description_best{
      margin-top: 5rem;
      font-size: 1rem;
      justify-content: flex-start;
      flex-direction: column;
      align-items: normal;
    }

    .home_container::before{
      left:20px;
      top:10px;
      width:150px;
      height:150px;
    
     }
     .home__designer{
      margin: 0;
     }
 }