/* styles/fonts.css */
/* Import font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@500;700;900&family=Roboto:wght@900&display=swap');

@font-face {
  font-family: 'Gradient';
  src: url('/fonts/Gradient.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/NeueHelveticaBQBlack.otf') format('opentype');
}
@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('/fonts/GeneralSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('/fonts/GeneralSans-Medium.otf') format('opentype');
}

.home{
  margin: 0 1rem 12rem 1rem;
  height: 100%;
}
.home_container{
  grid-template-columns:50% 50% ;
  display: grid;
  position: relative;
  z-index: 10;
}
.home_text{
  font-family: "GeneralSans-Bold";
  display: flex;
  line-height: 4rem;
  margin-top: 25rem;
  width:250px;
  flex-direction: column;
  font-weight: 900;
  font-size: 8rem;
}
.home__description{
  width: 110%;
}

.home_h1{
  font-size: 3.5rem;
}

.home_h1_2{
  font-size: 4.5rem;
}

.home_h1_3{
  font-size:5.5rem;
}

.home_description_best{
  margin: 5rem 0 0 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: normal;
  font-family: "GeneralSans-Medium";
  font-weight: 600;
  position: relative;
  z-index: 10;
}

.home__gambar1{
  position: relative;
 }

 .home_circle1{
  position: absolute;
  z-index: -1;
  left:-150px;
  top:90px;
  width:300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(60px);
  background: rgb(175, 169, 255);
 }

 .home_circle2{

  position: absolute;
  z-index: 1;
  left:20px;
  width:150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(60px);
  background: rgb(200,189,209);
 }
 .home_circle3{

  position: absolute;
  z-index: 1;
  right:250px;
  top:-80px;
  width:150px;
  height:150px;
  border-radius: 50%;
  filter: blur(60px);
  background: rgb(252, 164, 82);
 }
 .home__designer{
  margin: 0;
 }



 @media screen and (max-width: 320px)  {
    .home{
      margin: 0 1rem;
    }
    .home_container{
    grid-template-columns:100px 160px ;
  }
    .home_text{
      line-height: 2.5rem;
      margin-top: 20rem;
      width:100px;
    }

    .home_description{
      width:10px;
    }
    .home_h1{
      font-size: 2rem;
    }
    
    .home_h1_2{
      font-size: 2.5rem;
    }
  
    .home_h1_3{
      font-size:3.5rem;
    }
    
    .home_description_best{
      margin-top: 5rem;
      font-size: 1rem;
      justify-content: flex-start;
      flex-direction: column;
      align-items: normal;


    }
    .home__designer{
      margin:0;
    }
 }



 @media screen and (min-width: 576px)  {
  .home{
    margin: 0 2rem 13rem 2rem;
  }
  .home_container{
    grid-template-columns:300px max-content ;
  }


  .home__description{
    width:105%;

  }  
  .home_description_best{
    font-size: 1.25rem;
    justify-content: space-between;
    flex-direction: row;
 
}
 }
 @media screen and (min-width: 768px)  {
  .home{
    margin: 0 3rem 15rem 3rem;
  }
  .home_container{
    grid-template-columns:500 max-content ;
  }
  .home_text{
    line-height: 5rem;
  }
  .home_h1{
    font-size: 5rem;
  }
  
  .home_h1_2{
    font-size: 6rem;
  }
  
  .home_h1_3{
    font-size:7rem;
  }
  
  .home__description{
    width:105%;

  }  
  .home_description_best{
    font-size: 1.75rem;
    justify-content: space-between;
    flex-direction: row;
 
}
 }



 @media screen and (min-width: 1023px)  {
  .home {
    margin: 0 3rem 15rem 3rem;
  }
  
  .home_container {
    display:grid;
    grid-template-columns: 600px 400px;
    position: relative;
  }
  
  .home_text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:13rem;
    font-weight: 900;
    font-size: 8rem;
    line-height: 7rem;
    width:850px;
    z-index: 10;
  }
  .home_h1{
    font-size: 6rem;
  }
  .home_h1_2{
    font-size: 8rem;
  }
 .home_h1_3{
  font-size: 10rem;
 }
 .home__description{
  width:110%;
 }
 .home_description_best{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 8rem 0 0 4rem;
  font-weight: 600;
  gap:1rem;
 }

 .home__gambar1{
  position: absolute;
  content: "";
  z-index: 1;
  right:150px;
  bottom: 300px;
  width:250px;
  height:250px;
  border-radius: 50%;
  filter: blur(60px);
  background: rgb(200,189,209);

 }

 }




