@font-face {
    font-family: 'Fontbaru';
    src: url('/fonts/fontbaru.ttf') format('ttf');
    /* Tambahkan varian lain jika diperlukan (mis., Bold, Italic) */
  }

  body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
  }