
  body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
  }

  a{ text-decoration: none;}

  .Page{
    background: rgb(159,173,214);
background: radial-gradient(circle, rgba(159,173,214,0.8961748633879781) 0%, rgba(255,255,255,1) 51%);}
