
@font-face {
    font-family: 'GeneralSans-Medium';
    src: url('/fonts/GeneralSans-Medium.otf') format('opentype');
  }

  .about_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin:0 1rem;
    position: relative;
    z-index: -10;
  }

  .about_paragraph{

    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
    margin-bottom:4px;
    font-size: clamp(2.5rem,6.5vw,10rem);
    font-weight: 700;
    font-family: "GeneralSans-Medium";
  }

  .color_blue{
    color:rgba(84, 101, 255, 0.993);
  }


  @media screen and (min-width: 768px)  {
   .about_container{
    margin:0 3rem;
   } 
   .about_paragraph{
    margin-right: 10px;
   }
  }